outfile*
infile*
obj/
a.out
minishell
lexer
history.txt
.vscode/
*.o
*.dSYM
*.plist
.vscode/settings.json
minishell
libs/libft/libft.a
libs/readline
outX
libs/readline-install
child.txt
child_cleaned.txt
outMaxtest
valgrind-out.txt
data.csv
test.sh
minishell_tester/
bash_out.txt
minishell_out.txt
valgrind_check.sh
valgrind_readline_leaks_ignore.txt
Jonas_Anleitung.txt
